@model EURISTest.Models.Vendita

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Vendita</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cataloghi.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cataloghi.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prodotti.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prodotti.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrezzoI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrezzoI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prezzo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prezzo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
