@model IEnumerable<EURISTest.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Categorie</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Categoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CatalogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CatalogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CatalogID })
        </td>
    </tr>
}

</table>
