@model IEnumerable<EURISTest.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product of category</h2>

<p>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Catalog
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catalogo.Description)
            </td>
        </tr>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</table>
